<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){ %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data"><!-- enctype="multipart/form-data" is required for file uploads which parses mixed data i.e. binary(files) + text data. (default value is application/x-www-form-urlencoded which parses only text data) 
            Multer looks for files in the body of the request, so it won't work with the default body-parser. You need to use the multer middleware before the body-parser middleware.
            -->
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                class="<%= validationErrors.find(e=>e.path==='title')?'invalid':'' %>" 
                type="text" 
                name="title" 
                id="title" 
                value= "<%=product.title%>">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input
                class="<%= validationErrors.find(e=>e.path==='imageUrl')?'invalid':'' %>" 
                type="text"
                name="imageUrl"
                id="imageUrl"
                value="<%=product.imageUrl%>">
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input
                type="file"
                name="image"
                id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input
                class="<%= validationErrors.find(e=>e.path==='price')?'invalid':'' %>" 
                type="number"
                name="price"
                id="price" 
                step="0.01"
                value="<%= product.price %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea
                class="<%= validationErrors.find(e=>e.path==='description')?'invalid':'' %>"
                name="description"
                id="description"
                rows="5"><%= product.description %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>